/*dgadgadgadgad
gadgad*/
table,tr,td{
	background-color:rgb(222,222,222);
}
table{
	width:1200px;
	margin:0 auto;
}
tr,td{
	height:45px
}
.azul{
	background-color:rgb(78,78,122);
	color:rgb(78,78,122);
}
h1{
	font-size:60px;
	color:blue
}
		
h3{
	display:inline
}

.snakeCorpo {
	background-color: black;
}
.snakeRabo {
	background-color: magenta !important;
}
.snakeCabeca {
	background-color: purple;
}
.snakeComida {
	background-color: green;
}
